<div class="centralizador">
  <h1>
    Bem Vindo ao {{ title }}!
  </h1>
  
  <div class="tabuleiro">
 
    <!--primeira linha-->
    <div><button class="bloco" (click)="A1($event)"></button></div>
    <div><button class="bloco" (click)="A2($event)"></button></div>
    <div><button class="bloco" (click)="A3($event)"></button></div>
    
    <!--segunda linha-->
    <div><button class="bloco" (click)="B1($event)"></button></div>
    <div><button class="bloco" (click)="B2($event)"></button></div>
    <div><button class="bloco" (click)="B3($event)"></button></div>
    <!--terceira linha-->
    <div><button class="bloco" (click)="C1($event)"></button></div>
    <div><button class="bloco" (click)="C2($event)"></button></div>
    <div><button class="bloco" (click)="C3($event)"></button></div>

     
</div>
  
<div class="margem centralizador">
  <h3>Escolha entre um Ankh ou um Olho de Hórus</h3>
  <h4>☥ ou 𓂀</h4>
  <h2  [innerHTML]="anuncioGanhador"></h2>
  <button class="botao" value="limpar" (click)="window.location.reload()">E lá vamos nós...</button>
</div>

<router-outlet></router-outlet>
