<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem Vindo ao {{ title }}!
  </h1>
  
  <div class="tabuleiro">
 
    <!--primeira linha-->
    <div><button class="bloco" (click)="A1($event)"></button></div>
    <div><button class="bloco" (click)="A2($event)"></button></div>
    <div><button class="bloco" (click)="A3($event)"></button></div>
    
    <!--segunda linha-->
    <div><button class="bloco" (click)="B1($event)"></button></div>
    <div><button class="bloco" (click)="B2($event)"></button></div>
    <div><button class="bloco" (click)="B3($event)"></button></div>
    <!--terceira linha-->
    <div><button class="bloco" (click)="C1($event)"></button></div>
    <div><button class="bloco" (click)="C2($event)"></button></div>
    <div><button class="bloco" (click)="C3($event)"></button></div>

     
</div>
  

<h1 id="Winp" [innerHTML]="anuncioGanhador"></h1>

<router-outlet></router-outlet>
